@import "tailwindcss";

@theme inline {
  --color-on-surface: var(--theme-on-surface);
  --color-background: var(--theme-background);
  --color-surface-container: var(--theme-surface-container);
  --color-primary: var(--theme-primary);
  --color-primary-container: var(--theme-primary-container);
  --color-secondary: var(--theme-secondary);
  --color-on-primary-container: var(--theme-on-primary-container);
  --color-outline-variant: var(--theme-outline-variant);
  --color-surface: var(--theme-surface);
}

:root {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

body {
  background-color: var(--color-surface-container);
  font-family: "Anton", sans-serif;
}

label {
  font-family: "Hanken Grotesk", sans-serif;
}

input {
  font-family: "Hanken Grotesk", sans-serif;
  padding-left: 10px;
}

select {
  font-family: "Hanken Grotesk", sans-serif;
}

button {
  font-family: "Hanken Grotesk", sans-serif;
}
