@import "tailwindcss";

@theme {
  --color-on-surface: #191c1e;
  --color-background: #f7f9fb;
  --color-surface-container: #eceef0;
  --color-primary: #006e2f;
  --color-primary-container: #22c55e;
  --color-secondary: #565e74;
  --color-on-primary-container: #004b1e;
  --color-outline-variant: #bccbb9;
  --color-surface: #f7f9fb;
}

body {
  background-color: var(--color-surface-container);
  font-family: "Anton", sans-serif;
}

label {
  font-family: "Hanken Grotesk", sans-serif;
}

input {
  font-family: "Hanken Grotesk", sans-serif;
  padding-left: 10px;
}

button {
  font-family: "Hanken Grotesk", sans-serif;
}
